<mat-grid-list cols="1" rowHeight="350px" gutterSize="100px">
    <mat-grid-tile>
        <mat-card>
            <img id="profilePicture" src="https://storage.googleapis.com/my-app-bgaper/IMG_2163.jpg" />
            <h3>My name is Brandon Gasper and I am learning how to code with Javascript and Angular</h3>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>



<!-- 
<mat-grid-list [gridCols]="{xs: 1, sm: 1, md: 2, lg: 3, xl: 3}" rowHeight="300px">
    <mat-grid-tile><img id="profilePicture" src="https://storage.googleapis.com/my-app-bgaper/IMG_2163.jpg" /></mat-grid-tile>
    <mat-grid-tile>
        <p>My Name is Brandon Gasper</p>
    </mat-grid-tile>
</mat-grid-list>
-->