img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

div {
    background-color: white;
    border: 3px;
    border-color: lightgray;
    box-shadow: gray;
}

mat-card {
    text-align: center;
    margin: 10px;
}